body { /* Volledige body */
width:auto; height:auto; background-color: #000000; background-image:url('../images/background.png');
}

section{ /* Volledige section */
padding:5px; margin-left:auto; margin-right:auto; width:293px; height:390px; background-color:#FFFFFF; opacity:0.6; border-radius: 15px; margin-Bottom:15px;
}

article{ /* Volledige article */
font-size:8px;
}

h1{ /* header 1 */
font-size:10px;
}

h2{ /* Header 2 */
font-size:8px;	
}

img{ /* Standaard image styling */
margin-bottom: 0px; width:24%;
}

/* Link styling */
a:link {Border:none;}      /* unvisited link */
a:visited {Border:none;}  /* visited link */
a:hover {Border:none;}  /* mouse over link */
a:active {Border:none;}  /* selected link */ 